<!-- HackTheBox referral banner -->
<section id="access-htb-referral">
  <h2 class="panel-heading">Hack The Box</h2>
  <div class="content ps-0 pb-1 ms-1 mt-2">
    <a
      href="https://hacktheboxltd.sjv.io/StartToday"
      target="_blank"
      rel="noopener noreferrer sponsored"
      class="d-flex align-items-center text-decoration-none"
    >
      <img
        src="{{ '/assets/img/sidebar/hackthebox-cube.png' | relative_url }}"
        alt="Hack The Box"
        width="28"
        height="28"
        class="me-2 flex-shrink-0"
      >
      <span>Start Today Free</span>
    </a>
  </div>
</section>
<!-- #access-htb-referral -->
